th.centerTrashClass {
	width: 10px;
}

th.centerDateClass {
	width:80px;
	text-align: center;
}

th.centerName1Class {
	width: 50px;
	text-align: center;
}
th.centerName2Class {
	width: 50px;
	text-align: center;
}

td.centerTrashClass {
	width: 10px;
}

td.centerDateClass {
	width:80px;
}

td.centerName1Class {
	width: 50px;
	text-align: right;
}
td.centerName2Class {
	width: 50px;
	text-align: right;
}
