th.leftTrashClass {
	width: 10px;
}

th.leftDateClass {
	width:70px;
	text-align: center;
}

th.leftNameClass {
	width: 70px;
	text-align: center;
}


td.leftTrashClass {
	width: 10px;
}

td.leftDateClass {
	width:70px;
}

td.leftName1Class {
	width: 60px;
	text-align: right;
}
td.leftName2Class {
	width: 10px;
	text-align: right;
}
