@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);



/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_3.gif) center no-repeat #fff;
}



body {
  background-color: #00ffaa;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}




footer {
    display: block;
    text-align: right;
}

.successModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.failureModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}


/* Modal Content */
.successModal-content {
    background-color: #00FF00;
    margin: auto;
    padding: 0px;
    border: 1px solid #00FF00;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
.failureModal-content {
    background-color: #FF0000;
    margin: auto;
    padding: 0px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
